doctype html
html(lang="en")
	head
	body
		h1 You are being contacted by  #{firstname}, #{lastname} 
		p Topic area: #{subject}
		p Message: #{message}
		p Email: #{email}
		p Phonenumber: #{phonenumber}
